{% load i18n staticfiles %}

<html>
  <head>
    <link rel="stylesheet" href="{% static "css/unite-gallery.css" %}" type='text/css'>
    <link rel="stylesheet" href="{% static "css/ug-theme-default.css" %}" type='text/css'>
    <link rel="stylesheet" href="{% static "css/demo.css" %}" type='text/css'>
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/unitegallery.min.js" %}"></script>
    <script src="{% static "js/ug-theme-default.js" %}"></script>
  </head>
  <body>
    <form id="form">
      <input type="text" name="user_id" placeholder="{% trans "User ID example: 140893176@N07" %}" value="{{ user_id }}"/>
      <button type="submit">{% trans "Load" %}</button>
    </form>
    <center>{{ error }}</center>
    <div id="photo-list" style="display:none;">
      {% for thumb, photo in photos %}
        <img src="{{ thumb }}" data-image="{{ photo }}"/>
      {% endfor %}
    </div>
    {% if photos %}
    <script type="text/javascript">
    $(document).ready(function(){
        $("#photo-list").unitegallery();
    })
    {% endif %}
    </script>
  </body>
</html>
